* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f3;
}

.container_geral {
  border-radius: 30px;
  width: 90%;
  height: 90vh;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  box-shadow: 8px 14px 18px 0px rgba(0, 0, 0, 0.1),
    -11px -8px 16px 0px rgba(255, 255, 255);
}

/* Barra de Navegação */

header {
  width: 100%;
  height: 8vh;
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12%;
  outline-width: 0;
  border-radius: 20px;
  background-color: #e1e5e8;
  border: solid 0px;
  height: 8vh;
  transition: 1s;
  padding: 10px;
}

select:hover {
  cursor: pointer;
}

.icones_google {
  width: 15%;
  height: 10vh;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.email_icone {
  width: 50%;
  background-color: #e1e5e8;
  padding: 10px;
  display: flex;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  transition: 1s;
}

.botao_menu {
  width: 100%;
  align-items: center;
  background-color: #e1e5e8;
  padding: 10px;
  display: flex;
  border-radius: 50%;
  transition: 1s;
}

.botao_menu:hover,
.email_icone:hover {
  transform: translateY(-3px);
}

svg:hover .tooltip {
  display: flex;
}

.icone_perfil {
  width: 100%;
  background-color: #e1e5e8;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 8px 14px 18px 0px rgba(0, 0, 0, 0.1),
    -11px -8px 16px 0px rgba(255, 255, 255);
}

.container_tooltip {
  position: relative;
}

.container_tooltip_aberto {
  .tooltip {
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.tooltip {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  background-color: #ecf0f3;
  width: 300px;
  border: 10px solid #e2e6e9;
  height: 350px;
  z-index: 1;
  border-radius: 20px;
  padding: 10px;
  gap: 0px;
  transform: translate(0%, 100%);
  box-shadow: 8px 14px 18px 0px rgba(0, 0, 0, 0.1),
    -11px -8px 16px 0px rgba(255, 255, 255);
}

.tooltip a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip img {
  width: 40%;
  object-fit: cover;
}

/* Barra de Pesquisa */

.pesquisa {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-left: auto;
  padding: 2%;
  margin-right: auto;
  width: 40%;
  border-radius: 60px;
  height: 13vh;
  box-shadow: 8px 14px 18px 0px rgba(0, 0, 0, 0.1),
    -11px -8px 16px 0px rgba(255, 255, 255);
  position: relative;
  margin-top: 7%;
}

.pesquisa div {
  align-items: center;
  display: flex;
}

.pesquisa img {
  width: 30px;
}

.pesquisa input {
  margin-left: 15px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline-width: 0;
  padding: 5px;
  width: 150%;
}

.icones_categoria {
  justify-content: space-around;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  display: flex;
}

.icones_categoria i {
  font-size: 18px;
  border-radius: 100%;
  padding: 11px;
  background-color: #e1e5e8;
  transition: 1s;
  color: black;
  transition: 1s;
}

.icones_categoria i:hover {
  transform: translateY(-5px);
  box-shadow: 8px 14px 18px 0px rgba(0, 0, 0, 0.247),
    -11px -8px 16px 0px rgb(255, 255, 255);
}

/* Rodapé */

footer {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  height: 1vh;
  margin-top: 8%;
}

footer div {
  display: flex;
  align-items: center;
}

.local {
  justify-content: space-around;
  width: 15%;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.config {
  justify-content: space-around;
  width: 8%;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.icones_google i:hover,
svg:hover,
.icones_categoria i:hover,
a {
  cursor: pointer;
  color: black;
}

/* Responsividade */

@media (max-width: 1024px) {
  .pesquisa {
    margin-top: 15%;
    width: 80%;
  }
}

@media (max-width: 767px) {
  .container_geral {
    height: 98vh;
    width: 95%;
  }

  /* Icones Superior */
  header {
    height: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  nav {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5%;
    justify-content: end;
  }

  select {
    display: none;
  }

  .icones_google {
    width: 50%;
  }

  .icones_google i {
    display: none;
  }
  .icones_google svg {
    display: none;
  }

  .icones_google img {
    padding: 0;
    width: 40%;
    margin-left: 10px;
    border-radius: 100%;
  }

  /* Barra de Pesquisa */
  main {
    margin-top: 25%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  .pesquisa {
    width: 98%;
    padding: 20px;
  }

  .icones_categoria {
    display: flex;
    justify-content: center;
  }

  .icones_categoria i {
    margin: 10px;
  }
  input,
  form {
    width: 80%;
  }

  .voz {
    width: 100%;
  }

  /* Rodapé */

  footer {
    display: none;
  }
}
